@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-karla {
  font-family: "Karla", sans-serif;
}
.bg-sidebar {
  background: #3d68ff;
}
.btn-primary {
  background: #3d68ff;
}
.btn-text {
  color: #3d68ff;
}
.cta-btn {
  color: #3d68ff;
}
.upgrade-btn {
  background: #1947ee;
}
.upgrade-btn:hover {
  background: #0038fd;
}
.active-nav-link {
  background: #1947ee;
}
.nav-item:hover {
  background: #1947ee;
}
.account-link:hover {
  background: #3d68ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
